<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paopao.dao.WeChatUserExtraMapper">
  <resultMap id="BaseResultMap" type="com.paopao.po.WeChatUserExtra">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="credit" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, order_count, credit, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paopao_wechat_user_extra
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paopao_wechat_user_extra
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paopao.po.WeChatUserExtra" useGeneratedKeys="true" keyProperty="id">
    insert into paopao_wechat_user_extra (id, user_id, order_count, 
      credit, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderCount,jdbcType=INTEGER}, 
      #{credit,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.paopao.po.WeChatUserExtra">
    insert into paopao_wechat_user_extra
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paopao.po.WeChatUserExtra">
    update paopao_wechat_user_extra
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paopao.po.WeChatUserExtra">
    update paopao_wechat_user_extra
    set user_id = #{userId,jdbcType=INTEGER},
      order_count = #{orderCount,jdbcType=INTEGER},
      credit = #{credit,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    FROM paopao_wechat_user_extra
    where user_id=#{userId}
  </select>

  <select id="selectOrderCountByUserId" resultType="int" parameterType="int">
    SELECT
    order_count
    from paopao_wechat_user_extra
    WHERE user_id=#{userId}
  </select>

  <update id="incrOrderCount" parameterType="int">
    UPDATE paopao_wechat_user_extra
    set order_count = order_count+1,
    update_time=now()
    where user_id=#{userId}
  </update>

  <select id="list" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from paopao_wechat_user_extra
  </select>


</mapper>